*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.cmd
.*.cmd
.*.o.d
.tmp_versions/
Module.symvers
modules.order
softisp/ipu4-softisp
softisp/ipu4-softisp-surface-rear
softisp/ipu4-softisp-surface-front
softisp/libgstsurfaceisp.so
firmware/
result
result-*
*.deb
*.ddeb
*.buildinfo
*.changes
*.msi
*.bin
*.raw
*.jpeg
*.jpg
*.webm
*.key
*.pem
*.p12
*.pfx
*.der
*.csr
